body {
    background-color: white;
    color: black;
}
 
/* Fieldsetin ulkoasu */
fieldset {
    max-width: 40em;
    clear: both;
}
 
 /* Formin sisällä label + input ulkoasu */

fieldset > label {
   display: block;
   padding: .1em;
   margin-bottom: .1em;
}


input[type="text"] {
   float: right;
   width: 60%;
   margin-right: 10em;
}
 
.sarjat-kokonaisuus, .leimaustavat-kokonaisuus {
   display: block;
   clear: both;
}


span {
   float: right;
   margin-bottom: 1em;
}

.nimi-inputilla {
   text-align: right;
   display: block;
   padding: .1em;
   margin: 0 10em 0 0;
}

/* invalidin inputin ulkomuoto */
input:invalid {
   border: 1px solid red;
   border-radius: 3px;
   padding: 2px;
}

/* taulukon ulkomuoto */
table {
   border: .3em black outset;
   font-family: Verdana, Arial, sans-serif;
   border-spacing: .4em;

}

thead {
   background-color: #ffc653;

}

thead th {

   font-weight: bold;
}

th {
   border: .1em black outset;
   font-weight: normal;
   padding: .5em;
}

th ul {
   padding: 0;
   margin: 0;
   font-size: smaller;
}

th li {
   display: inline;
}

th li:after {
   content: ", ";
}

th li:last-child::after {
   content: "";
}
